.idea
node_modules
jspm_packages
npm-debug.*
link-checker-results.txt
app/**/*.js
*.js.map
e2e/**/*.js
e2e/**/*.js.map
_test-output
_temp
/.vs/Project2/v14/.suo
/.vs/Project2/v15/.suo
/.vs/VSWorkspaceState.json
/.vs/angular2-tour-of-heroes/v15/.suo
/.vs/config/applicationhost.config
/.vs/slnx.sqlite
/bin/Debug/Project2.dll
/bin/Debug/Project2.pdb
/obj/Debug/CoreCompileInputs.cache
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/Project2.csproj.FileListAbsolute.txt
/obj/Debug/Project2.csprojResolveAssemblyReference.cache
/obj/Debug/Project2.dll
/obj/Debug/Project2.pdb
/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/obj/Release/CoreCompileInputs.cache
