<h1>Products</h1>

<kendo-grid [kendoGridInCellEditing]="createFormGroup"
            [editService]="gridService"
            [data]="gridView"
            [height]="533"
            [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort" [filter]="gridState.filter"
            [pageable]="true" [sortable]="true" [filterable]="true"
            (dataStateChange)="onStateChange($event)">
    <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand>Add new</button>
        <button class="k-button" [disabled]="!gridService.hasChanges()" (click)="gridService.saveChanges()"
                [class.k-primary]="gridService.hasChanges()">
            Save Changes
        </button>
        <button class="k-button" [disabled]="!gridService.hasChanges()" (click)="gridService.cancelChanges()">Cancel Changes</button>
    </ng-template>
    <kendo-grid-column field="ProductName" title="Product Name"></kendo-grid-column>
    <kendo-grid-column field="UnitPrice" title="Price" editor="numeric" filter="numeric"></kendo-grid-column>
    <kendo-grid-column field="Discontinued" title="Discontinued" editor="boolean" filter="boolean"></kendo-grid-column>
    <kendo-grid-column field="UnitsInStock" title="Units In Stock" editor="numeric" filter="numeric"></kendo-grid-column>
    <kendo-grid-column field="CategoryId" title="Category">
        <my-dropdown-filter 
                    [data]="categories" 
                    textField="Name" 
                    valueField="Id"></my-dropdown-filter>
    </kendo-grid-column>
    <kendo-grid-command-column width="150">
        <ng-template kendoGridCellTemplate let-isNew="isNew">
            <button kendoGridRemoveCommand>Remove</button>
            <button kendoGridSaveCommand [disabled]="formGroup?.invalid">Add</button>
            <button kendoGridCancelCommand>Discard</button>
        </ng-template>
    </kendo-grid-command-column>
</kendo-grid>
